
    @font-face {
        font-family:oswald;
        src: url(C:\Users\NA\OneDrive\Desktop\code with asif\madham\fonts\oswald-regular.ttf);
    }
*{
    font-family: oswald;
}
h1 {
    color: blue;
    background-color:blanchedalmond;
    text-align: center;
    opacity: 0.3;
    
}
h2{
    color: tomato;
    background-color: beige;
    text-align: end;
    opacity: 0.3;
}
h3 {
    color: aliceblue;
    background-color: aquamarine;
    text-align: justify

}
h4 {
    color: chartreuse;
    background-color: bisque;
    text-align: center;
    }
h6 {
    color: cyan;
    background-color: burlywood;
    text-align: left;
}

